/* font-family: 'Lexend Exa', sans-serif;
font-family: 'Beth Ellen', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Anton', sans-serif;
font-family: 'Amatic SC', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Lacquer', sans-serif;
font-family: 'Monoton', cursive;
font-family: 'Sigmar One', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Covered By Your Grace', cursive; */
